@font-face {
  font-family: Marons;
  src: url(../Fonts/Marons/Marons-regular.ttf)
}

@font-face {
  font-family: Avenir;
  src: url(../Fonts/Avenir/Avenir-Medium.woff);
}
@font-face {
  font-family: Avenir;
  src: url(../Fonts/Avenir/Avenir-Black.woff);
  font-weight: bold;
}
@font-face {
  font-family: Avenir;
  src: url(../Fonts/Avenir/Avenir-Light.woff);
  font-weight: 100;
}


.container-fluid{
  padding: 0;
}
.container{
  padding-top: 30px;
  padding-bottom: 30px;

}
.row{
  margin-left: 0;
  margin-right: 0;
}
.fixed-top{
  background: #436a61;
  height: 9vh;
}
h1,h2,p,a,small{
  font-family: Avenir, sans-serif;
}
p{
  font-size: 30px;
  font-weight: 100;
}
small{
  font-weight: 100;
}
.navbar-nav{
  padding-left: 3em;
  padding-right: 3em;
}
nav a{
  color: white;
  font-size: 30px;
}
nav a:hover, nav a:active{
  font-weight: bold;
  color: white;
}
li{
  margin-top: auto;
  margin-bottom: auto;
}
.active{
  font-weight: bold;
}
h2, h1{
  text-align: center;
  margin: 60px 0;
}
h1{
  font-family: Marons;
  font-size: 90px;
}
h2{
  font-size: 60px;
}
.foot{
  background: #436a61;
  margin: 0;
}
.foot > *{
  color: white;
}
.foot img{
  width: 300px;
}
.space{
  padding: 90px;
}
.green{
  background: #436a61;
}
.green > *, .orange > *{
  color: white;
  text-align: center;
}
.item{
  border: 1px black solid;
}
.orange{
  background: #db8545;
}
