@font-face {
  font-family: Marons;
  src: url(../Fonts/Marons/Marons-regular.ttf)
}

@font-face {
  font-family: Avenir;
  src: url(../Fonts/Avenir/Avenir-Medium.woff);
}
@font-face {
  font-family: Avenir;
  src: url(../Fonts/Avenir/Avenir-Black.woff);
  font-weight: bold;
}
@font-face {
  font-family: Avenir;
  src: url(../Fonts/Avenir/Avenir-Light.woff);
  font-weight: 100;
}


.container-fluid{
  padding: 0;
}
.container{
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1400px;
}

.center{
  text-align: center;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.border-10{
  border: 10px black solid;
  margin: 0 2%;
  padding: 0;
}
.fixed-top{
}
h1,h2,p,a,small{
  font-family: Avenir, sans-serif;
}
p{
  font-size: 36px;
  font-weight: 100;
  padding: 20px; auto;
}
small{
  font-weight: 100;
}
.navbar-nav{
  padding-left: 3em;
  padding-right: 3em;
}
.navbar-custom{
  background: #436a61;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;

}
.navbar-custom .navbar-nav .nav-link {
  color: white;
  font-size: 25px;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link{
  font-weight: bold;
  color: white;
}

.navbar-custom .dropdown-menu {
    background-color: #f9ecd2;
}

.navbar-custom .dropdown-item {
    color: #436a61;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #191919;
    background: #23cc23;
}
.bg-custom{
  background: #436a61;
}


nav a:hover, nav a:active{
  font-weight: bold;
}
nav img{
  width: 60px;
}
li{
  margin-top: auto;
  margin-bottom: auto;
}
.active{
  font-weight: bold;
}
h2, h1{
  text-align: center;
  margin: 60px 0;
}
h1{
  font-family: Marons;
  font-size: 90px;
}
h2{
  font-size: 60px;
}
.same img{
  height: 30vh;
  width: 100%;
  object-fit: contain;
}
.same p{
  text-align: center;
  color: black;
  font-weight: normal;
  display: block;
  font-size: 2vw;
}
.foot{
  background: #436a61;
  margin: 0;
}
.foot > *{
  color: white;
}
.foot img{
  width: 300px;
}
.foot p{

}
.space{
  padding: 5%;
}
.green{
  background: #436a61;
}
.green > *, .orange > *{
  color: white;
  text-align: center;
}
.green img{
  width: 80%;
  height: 20vh;
  object-fit: contain;
}
.item{
  border: 5px black solid;
  margin: 20px auto;
  padding: 60px;
}
.item img{
  border: 1px black solid;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item p{
  margin: 0;
  margin-top: 25px;
  padding:0;
  font-weight: normal;

}
.item button{
  color: white;
  background: #436a61;
  padding: 0;
  width: 100%;
  margin-top: 50px;
}
.item button p{
  margin: 0;
  padding: 30px;
}
.orange{
  background: #db8545;
}
.orange p{
  padding-bottom: 0;
}
.topSpace{
  margin-top: 10vh;
}
